---
/**
 * index.astro
 * Homepage - customize sections as needed
 */
import Hero from '@/components/sections/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '@/components/sections/About.astro';
import Services from '@/components/sections/Services.astro';
import Contact from '@/components/sections/Contact.astro';
---

<BaseLayout>

  <div class="absolute inset-0 bg-gradient-to-br from-primary/10 via-transparent to-secondary/10 pointer-events-none"></div>

  <Hero />

  <Services />

  <About />

  <Contact />

</BaseLayout>
