---
import Button from "../ui/Button.astro";


---

<!-- Services Section -->
<section id="services" class="lg:py-20 py-16">
  <div class="max-w-7xl mx-auto px-6 flex lg:flex-row flex-col lg:gap-0 gap-8">
    <div class="lg:w-[50%] mx-auto pt-32 px-4 relative z-10 space-y-6 fade-in-left">
      <div
        class="mb-2 font-black bg-gradient-to-r from-primary via-primary-light to-secondary/40 bg-clip-text text-transparent"
      >
        <p>OUR SERVICES</p>
      </div>
      <h2 class="text-4xl md:text-6xl font-medium lg:w-3xl uppercase">
        <span class="bg-gradient-to-r from-primary via-primary-light to-secondary bg-clip-text text-transparent"
          >WHAT</span
        >
        we do
      </h2>
      <p class="lg:text-lg text-sm max-w-2xl text-white/70">
        These are the <span
          class="bg-gradient-to-r from-primary via-primary-light to-secondary bg-clip-text text-transparent"
          >Services</span
        > we offer and continue to explore as a curious team growing alongside the businesses we work with.
      </p>
    </div>

    <div class="flex-1 flex lg:flex-row flex-col items-center justify-center gap-6 w-fit">
      <div class="flex flex-col lg:gap-6 gap-4 lg:pb-10">
        <!-- First card -->
        <div class="fade-in-right">
          <a
            href="/services/single-page-website"
            class="lg:rounded-tl-3xl relative overflow-hidden lg:h-75 h-56 lg:w-75 bg-black/40 border-2 border-background/10 p-4 flex flex-col justify-between group hover:translate-y-1 hover:translate-x-1 duration-500"
          >
            <!-- Shimmer background layer -->
            <div class="absolute inset-0 bg-[linear-gradient(90deg,transparent_25%,rgba(255,255,255,0.15)_50%,transparent_75%)] bg-[length:250%_250%] bg-no-repeat bg-[position:130%_0] transition-[background-position] duration-[1500ms] group-hover:bg-[position:-100%_0] pointer-events-none">
            </div>

            <!-- Gradient overlay -->
            <div class="absolute inset-0 bg-gradient-to-t from-primary/10 via-transparent to-secondary/10 pointer-events-none">
            </div>

            <!-- Icon -->
            <div class="rounded-full lg:w-20 lg:h-20 w-12 h-12 flex items-center justify-center z-10 relative">
              <img src="/images/services/single.png" alt="single" class="lg:w-20 lg:h-20 w-12 h-12" />
            </div>

            <!-- Text -->
            <p class="font-bold text-base z-10 relative mt-2">Single-Page Website</p>
            <p class="lg:text-sm text-xs z-10 relative">
              Practical services designed to help businesses build, improve, and present themselves clearly.
            </p>

            <!-- Learn more -->
            <div class="flex gap-2 items-center justify-end font-bold lg:text-sm text-xs z-10 relative mt-4">
              <p>Learn More</p>
              <i class="fa fa-arrow-up rotate-45 group-hover:rotate-90 duration-300"></i>
            </div>
          </a>
        </div>
        <div class="fade-in-right">
          <a
            href="/services/multi-page-website"
            class="lg:rounded-bl-3xl relative overflow-hidden lg:h-75 h-56 lg:w-75 bg-black/40 border-2 border-background/10 p-4 flex flex-col justify-between group hover:translate-y-1 hover:translate-x-1 duration-500"
          >
            <!-- Shimmer background layer -->
            <div class="absolute inset-0 bg-[linear-gradient(90deg,transparent_25%,rgba(255,255,255,0.15)_50%,transparent_75%)] bg-[length:250%_250%] bg-no-repeat bg-[position:130%_0] transition-[background-position] duration-[1500ms] group-hover:bg-[position:-100%_0] pointer-events-none">
            </div>

            <!-- Gradient overlay -->
            <div class="absolute inset-0 bg-gradient-to-t from-primary/10 via-transparent to-secondary/10 pointer-events-none">
            </div>

            <!-- Icon -->
            <div class="rounded-full lg:w-20 lg:h-20 w-12 h-12 flex items-center justify-center z-10 relative">
              <img src="/images/services/multiple.png" alt="multiple" class="lg:w-20 lg:h-20 w-12 h-12" />
            </div>

            <!-- Text -->
            <p class="font-bold text-base z-10 relative mt-2">Multi-Page Website</p>
            <p class="lg:text-sm text-xs z-10 relative">
              A structured website with dedicated pages designed to clearly present your services, information, and
              brand.
            </p>

            <!-- Learn more -->
            <div class="flex gap-2 items-center justify-end font-bold lg:text-sm text-xs z-10 relative mt-4">
              <p>Learn More</p>
              <i class="fa fa-arrow-up rotate-45 group-hover:rotate-90 duration-300"></i>
            </div>
          </a>
        </div>
      </div>

      <div class="flex flex-col lg:gap-6 gap-4">
        <!-- Third card -->
        <div class="fade-in-right">
          <a
            href="/services/gta-mods"
            class="lg:rounded-tr-3xl relative overflow-hidden lg:h-75 h-56 lg:w-75 bg-black/40 border-2 border-background/10 p-4 flex flex-col justify-between group hover:translate-y-1 hover:translate-x-1 duration-500"
          >
            <!-- Shimmer background layer -->
            <div class="absolute inset-0 bg-[linear-gradient(90deg,transparent_25%,rgba(255,255,255,0.15)_50%,transparent_75%)] bg-[length:250%_250%] bg-no-repeat bg-[position:130%_0] transition-[background-position] duration-[1500ms] group-hover:bg-[position:-100%_0] pointer-events-none">
            </div>

            <!-- Gradient overlay -->
            <div class="absolute inset-0 bg-gradient-to-t from-primary/10 via-transparent to-secondary/10 pointer-events-none">
            </div>

            <!-- Icon -->
            <div class="rounded-full lg:w-20 lg:h-20 w-12 h-12 flex items-center justify-center z-10 relative">
              <img src="/images/services/gta.png" alt="gta" class="lg:w-20 lg:h-20 w-12 h-12" />
            </div>

            <!-- Text -->
            <p class="font-bold text-base z-10 relative mt-2">GTA Mods</p>
            <p class="lg:text-sm text-xs z-10 relative">
              Mods and setups for FiveM, single-player, and RP servers that make GTA more immersive and enjoyable.
            </p>

            <!-- Learn more -->
            <div class="flex gap-2 items-center justify-end font-bold lg:text-sm text-xs z-10 relative mt-4">
              <p>Learn More</p>
              <i class="fa fa-arrow-up rotate-45 group-hover:rotate-90 duration-300"></i>
            </div>
          </a>
        </div>
        <!-- Fourth card -->
        <div class="fade-in-right">
          <a
            href="/services/portfolio-project"
            class="lg:rounded-br-3xl relative overflow-hidden lg:h-75 h-56 lg:w-75 bg-black/40 border-2 border-background/10 p-4 flex flex-col justify-between group hover:translate-y-1 hover:translate-x-1 duration-500"
          >
            <!-- Shimmer background layer -->
            <div class="absolute inset-0 bg-[linear-gradient(90deg,transparent_25%,rgba(255,255,255,0.15)_50%,transparent_75%)] bg-[length:250%_250%] bg-no-repeat bg-[position:130%_0] transition-[background-position] duration-[1500ms] group-hover:bg-[position:-100%_0] pointer-events-none">
            </div>

            <!-- Gradient overlay -->
            <div class="absolute inset-0 bg-gradient-to-t from-primary/10 via-transparent to-secondary/10 pointer-events-none">
            </div>

            <!-- Icon -->
            <div class="rounded-full lg:w-20 lg:h-20 w-12 h-12 flex items-center justify-center z-10 relative">
              <img src="/images/services/portfolio.png" alt="portfolio" class="lg:w-20 lg:h-20 w-12 h-12" />
            </div>

            <!-- Text -->
            <p class="font-bold text-base z-10 relative mt-2">Portfolio Website</p>
            <p class="lg:text-sm text-xs z-10 relative">
              Build a sleek portfolio to showcase your projects and make a strong impression online.
            </p>

            <!-- Learn more -->
            <div class="flex gap-2 items-center justify-end font-bold lg:text-sm text-xs z-10 relative mt-4">
              <p>Learn More</p>
              <i class="fa fa-arrow-up rotate-45 group-hover:rotate-90 duration-300"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

   <!-- banner -->
  <div class="px-6 z-1 py-16">
    <div
      class="relative flex flex-col items-center justify-center lg:w-6xl px-6 mx-auto shadow-[0_0_4px_1px_#06b6d4]
            rounded-sm overflow-hidden lg:py-16 p-4 gap-2 bg-[url('/images/about/banner.webp')] bg-cover bg-center"
    >
      <div
        class="absolute inset-0 bg-gradient-to-br from-background/70 to-background/50 pointer-events-none backdrop-blur-xs"
      >
      </div>
      <div class="font-black gradient-text z-1">
        <p>HIRE US NOW</p>
      </div>
      <h2 class="text-3xl md:text-6xl font-bold lg:w-xl uppercase text-center z-1">
        Let’s Build<span class="gradient-text"> Something Great </span>Together
      </h2>
      <!-- <Button text="Contact Us" href="#contact" /> -->
      <Button text="Contact Us" href="#contact"/>
    </div>
  </div>
</section>
