---
/**
 * ScrollToTop.astro
 * Scroll to top button component that appears when user scrolls down
 */
---

<button
  id="scroll-to-top"
  class="opacity-0 pointer-events-none bg-gradient-to-br from-primary-dark via-primary to-primary-light fixed bottom-4 lg:right-16 right-4 z-[9999] w-10 h-10 rounded-full border border-white/20 font-semibold flex items-center justify-center shadow-[0px_0px_0px_4px_rgba(255,255,255,0.05)] cursor-pointer overflow-hidden group text-xs duration-500 hover:-translate-y-2 md:bottom-8 md:right-8 md:w-[50px] md:h-[50px]"
  aria-label="Scroll to top"
>
  <svg class="w-4 h-4 relative z-10 md:w-[18px] md:h-[18px]" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 19V5M12 5L5 12M12 5L19 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
</button>
